#proyectos{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: #B3BAC2;
    box-sizing: border-box;
    padding-left: 5%;
}

#titulo-proyectos{
    width: 30%;
    border: 2px solid #01040ff9;
    box-shadow: 0 0 10px black, 0 0 20px black, 0 0 40px black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle,rgb(0, 4, 9),rgb(5, 37, 91,0.4));
    transition: all 2s !important;
    box-sizing: border-box;
}
#content-proyectos{
    width: 55%;
    border: 2px solid #01040ff9;
    box-shadow: 0 0 10px black,
    0 0 20px black,
    0 0 40px black;
    height: 60vh;
    background: radial-gradient(circle,rgb(0, 4, 9),rgb(5, 37, 91,0.4));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 15px;
    transition: all 2s !important;
    box-sizing: border-box;
}

.titulo-proyectos{
    color: white;
}

#item{
    display: flex;
    width: 100%;
    height: auto;
     justify-content: center;
    align-items: center; 
    margin-bottom: 20px;
   
}
.span{
    width:35%;
    /* border:2px solid red; */
    text-align: left !important;
}
.a-proyectos{
    color: white;
    text-decoration: underline !important;
    margin-bottom: 10px;
   
}
#span-proyectos{
    margin: 5px;
}
/* MEDIA QUERIES */
@media (max-width:1050px){
    #proyectos{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 76vh !important;
        padding-left:1% !important;

    }
    #titulo-proyectos{
        width: 70%;
      
        height: 16% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: radial-gradient(circle,rgb(0, 4, 9),rgb(5, 37, 91)); */
    }
    #content-proyectos{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80% !important;
      /*   background: radial-gradient(circle,rgb(0, 4, 9),rgb(5, 37, 91)); */
    }
    .titulo-proyectos{
        font-size: 20px;
    }
    #item{
        text-align: center !important;
     
    }
    .span{
        width:43% !important;
        
    }
}

@media (max-width:800px){
    #titulo-proyectos{
        width: 85%;
 
    }
    .titulo-proyectos{
        font-size: 18px !important;
    }
    #content-proyectos{
        width: 85%;
       
    }
    .span{
        width:53% !important;
    }
}

@media (max-width:500px){
    #titulo-proyectos{
        margin-top: 10px !important;
        width: 95%;
 
    }
    .titulo-proyectos{
        font-size: 16px !important;
    }
    #content-proyectos{
        width: 95%;
       
    }
    .span{
        width:85% !important;
        font-size: 14px !important;
    }
}